html {
	font-size: 62.5%;
}
body {
    background-color: #fff;
	color: #000;
	font-family: helvetica, arial, sans-serif;
	font-size: 1.4em; /* equiv 14px */
	line-height: 1.5; /* adapt to your design */
}
code {
    background-color: #B0C4DE;
    display: block;
    font-size: 0.7em;
    padding: 5px;
    border-left:1px solid #87C442;
}


.fastreeview, .fastreeview ul{
    box-sizing:border-box;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    font-size:1rem;
}
.fastreeview li {
    background:url("images/item.png") repeat-y scroll 0 0 transparent;
    margin: 0;
    padding: 3px 0 3px 20px;
}
.fastreeview li span.hitarea {
    cursor: pointer;
    float: left;
    height: 19px;
    margin: -3px 0 0 -20px;
    width: 19px;
}
.fastreeview li.last {
    background:url("images/item-last.png") no-repeat scroll 0 0 transparent;
}
.fastreeview li.expandable, 
.fastreeview li.collapsable {
    background:url("images/line.png") repeat-y scroll 0 0 transparent;
}
.fastreeview li.expandable.last,
.fastreeview li.collapsable.last {
   background:none repeat-y scroll 0 0 transparent;
}
.fastreeview li.collapsable > span.hitarea{
    background-image:url("images/collapse.png");
}
.fastreeview li.collapsable.last > span.hitarea{
    background-image:url("images/collapse-last.png");
}
.fastreeview li.expandable > span.hitarea{
    background-image:url("images/expand.png");
}
.fastreeview li.expandable.last > span.hitarea {
    background-image:url("images/expand-last.png");
}

